@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
/*overflow-x: auto*/
/*Hide scrollbal*/
body::-webkit-scrollbar {
  display: none;
}

/*Hide scrollbar*/
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}